* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

@font-face{
    font-family: Epilogue;
    src: url(./fonts/Epilogue-Regular.ttf);
}


@font-face{
    font-family: Epilogue-bold;
    src: url(./fonts/Epilogue-Bold.ttf);
}

:root{
    --almost-white:hsl(0, 0%, 98%);
    --Medium-gray:hsl(0, 0%, 41%);
    --almost-black:hsl(0, 0%, 8%);
}

body{
    font-family: Epilogue;
    min-height: 100vh;
    width: 100%;
    background-color: var(--almost-white);
}

ul,li {
    list-style-type: none;
}

a{
    color: black;
}

p{
    font-size: 1.12rem;
}

.header{
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 21px 30px 27px 30px;
}

.header__logo{
    margin-right: 60px;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    justify-self: flex-end;
    width: 100%;
    max-width: 370px;
}

.header__nav{
    display: none;
}

.header__authorization{
    display: none;
}

.header__burger-menu-icon{
    display: block;
}

.arrow-down{
    vertical-align: middle;
    transition: transform 400ms;
}

.header__authorization{
    margin-left: auto;
}

.header__register{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-left: 15px;
}

/* mobile menu */

.bk-transarent::after{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: hsl(0, 0%, 0%);
    opacity: 0.6;
    pointer-events: none;
}

.header__burger-menu-icon{
    display: block;
    cursor: pointer;
}

.header__burger-menu{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    z-index: 100;
    background-color: hsl(0, 0%, 100%);
    padding: 14px;
}

.header__burger-menu.active{
    display: block;
}

.header__burger-menu.disable{
    display: none;
}


.header__close-icon-box{
    text-align: end;
    margin-bottom: 20px;
    cursor: pointer;
}

.header__mobile-ul-item{
    padding: 15px;
    cursor: pointer;
}

.header__mobile-authorization{
    text-align: center;
    margin-top: 10px;
}

.header__mobile-login{
    display: block;
}

.header__mobile-register{
    display: block;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
}

.mobile-dropdown{
    display: none;
    margin-left: 20px;
    margin-top: 15px;
}

.mobile-dropdown__item{
    padding: 10px 0;
}

.header__mobile-ul-item.active .mobile-dropdown{
    display: block;
}

.header__mobile-ul-item.active{
    padding: 15px 15px 0px 15px;
}

.header__mobile-ul-item.active > img{
    transform: rotate(180deg);
}
/* Features dropdown */

.features-dropdown{
    position: relative;
}

.features-dropdown__content{
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 20px;
    padding: 18px;
    border-radius: 10px;
    width: max-content;
    box-shadow: 0 0 10px 0 hsl(0, 0%, 0%, 0.2);
    opacity: 0;
    transition: all 200ms ease-in;
}

.features-dropdown__content li{
    display: flex;

}

.features-dropdown__icon{
    margin-right: 8px;
}

.features-dropdown__text{
    white-space: nowrap;
}

.features-dropdown__content li:not(:last-child){
    margin-bottom: 14px;
}

.features-dropdown.active .features-dropdown__content{
    pointer-events: auto;
    opacity: 1;
    top: 30px;
}

/* ------------------- */

/* Company dropdown */

.company-dropdown{
    position: relative;
}

.company-dropdown__content{
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 20px;
    padding: 18px;
    border-radius: 10px;
    width: max-content;
    box-shadow: 0 0 10px 0 hsl(0, 0%, 0%, 0.2);
    opacity: 0;
    transition: all 200ms ease-in;
}

.company-dropdown__content li:not(:last-child){
    margin-bottom: 14px;
}

.company-dropdown.active .company-dropdown__content{
    pointer-events: auto;
    opacity: 1;
    top: 30px;
}

/* ------------------- */


/* main content    */

.main{
    width: 100%;
    max-width: 73.75rem;
    margin: 0 auto;
    padding-top: 50px;
}

.main__img-box{
    width: 50%;
    max-width: 30em;
}

.main__hero-mobile-img{
    display: block;
    margin-bottom: 50px;
}

.main__text-box{
    width: 100%;
    text-align: center;
}

.main__tittle{
    font-family: Epilogue-bold;
    font-size: 3rem;
    font-weight: 700;
    list-style: calc(1em + 0.0625rem);
    margin-bottom: 3rem;
}

.main__subtittle{
    margin-bottom: 3.1875rem;
    line-height: 1.625rem
}

.main__hero-img{
    width: 100%;
    display: none;
}

.main__client-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__link{
    display: inline-block;
    font-size: 1.125rem;
    margin-bottom: 3rem;
    padding: 1.1875rem 1.625rem 1.0625rem 1.9375rem;
    background-color: hsl(0, 0%, 0%);
    border-radius: 0.875rem;
    color: white;
}
/* ------------------- */

@media all and (min-width:54rem){
    .header__burger-menu-icon{
        display: none;
    }
    
    main{
       width: calc(100% - 2rem) !important;
       display: flex;
       flex-direction: row-reverse;
       justify-content: space-between;
    }

    .main__text-box{
       padding: 3rem 2rem 3rem 0;
    }

    .main__text-box{
        width: 50%;
        max-width: 35rem;
        text-align: start;
    }
    
    .main__tittle{
    font-size: 5rem;
    }

    .main__subtittle{
        max-width: 43ch;
    }

    .main__hero-img{
        width: 100%;
        max-width: 30rem;
        display: block !important;
    }

    .main__hero-mobile-img{
        display: none;
    }

    .header__nav{
        display: flex;
    }
    
    .header__authorization{
        display: block;
    }
    
}

@media all and (min-width:64rem){
    .main__text-box{
        padding: 6.4375rem 0 7.625rem 2.1875rem;
    }

    .main__link{
        display: inline-block;
        margin-bottom: 6.75rem;
    }

}